extends layout
block content
  div(class="container-fluid justify-content-center" style="margin-top: 15px")
    div(class="jumbotron")
      h1(class="display-4") Amine Prototype
      p(class="lead") Welcome to Amine
    div(class="container")
        label 
            h1 Search Anime
        div(class="input-group mb-3")
            input(class="form-control" type="text" id="input")
            div(class="input-group-append")
                button(class="btn btn-success btn-lg" onclick="search()") Search
  block results
    div(class="container" id="results")
  block scripts
    script(src="/javascripts/mal/api.js")
    script(src="/javascripts/pages/browse.js")