extends layout
block content
  div(class="container-fluid justify-content-center" style="margin-top: 15px")
    div(class="jumbotron")
      h1(class="display-4") Amine Prototype
      p(class="lead") Welcome to Amine
    div(class="container")
        label 
            h1 Search Anime
        div(class="input-group mb-3")
            input(class="form-control" type="text" placeholder="Anime Title" id="input")
            div(class="input-group-append")
                button(class="btn btn-success btn-lg" onclick=`redirect()`) Search
  block results
    div(class="container" id="results")
  block scripts
    script(src="/javascripts/kitsu/api.js")
    script(src="/javascripts/pages/search.js")
    script.
      if('#{keyword}') {
        document.querySelector('#results').innerHTML = `<div class="spinner" id="loader"><p class="lead-4">Loading...</p><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div></div>`;
        search('#{keyword}')
      }